.intro__subtitle {
    font-size: 24px;
    max-width: 690px;
    line-height: 1.42;
    margin: 40px 0 32px;
    font-family: Inter-Regular;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .intro__subtitle {}
}

@media screen and (max-width: 425px) {
    .intro__subtitle {
        line-height: 1.25;
    }
}