.intro__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
    max-width: 690px;
    font-weight: 700;
    margin-top: 34px;
    width: 100%;
    display: table;
}

@media screen and (max-width: 768px) {
    .intro__list {
        width: 93.75%;
    }
}

@media screen and (max-width: 425px) {
    .intro__list {
        width: 90%;
        margin-top: 34px;
    }
}