.header {
    padding: 0;
    margin: auto;
    max-width: 984px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 34px;
}

@media screen and (max-width:1280px) and (min-width: 1024px) {
    .header {
        width: 90.625%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header {
        width: 93.75%;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .header {
        width: 93.75%;
    }
}

@media screen and (max-width: 425px) {
    .header {
        width: 90%;
        margin-top: 20px;
    }
}