@import url(./_active/languages__link_active.css);
.languages__link {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.1;
    display: block;
}

@media screen and (max-width: 425px) {
    .languages__link {
        font-size: 18px;
    }
}