@font-face {
    src: url(../Inter/Inter-Regular.otf);
    font-family: Inter;
    font-weight: 400;
}

@font-face {
    src: url(../Inter/Inter-Bold.otf);
    font-family: Inter;
    font-weight: 700;
}

@font-face {
    src: url(../Inter/Inter-Black.otf);
    font-family: Inter;
    font-weight: 900;
}