@font-face {
    font-family: Inter-Regular;
    src: url(../Inter/Inter-Regular.otf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(../Inter/Inter-Bold.otf);
}

@font-face {
    font-family: Inter-Black;
    src: url(../Inter/Inter-Black.otf);
}