@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__image/cover__image.css);
@import url(./__body/cover__body.css);
.cover {
    padding: 0;
    margin: 0;
    align-items: center;
    background: url(../../images/cover-route-66.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cover:hover .cover__overlay {
    background-color: rgba(42, 44, 47, 0.8);
}