.place__ref {
    margin: 0;
    padding: 0;
    grid-area: reference;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: flex-end;
}

@media screen and (max-width: 425px) {
    .place__ref {
        width: 90%;
        margin: auto;
    }
}