.cover__title {
    margin: 0 auto;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFDFD;
}

@media screen and (min-width: 768px) {
    .cover__title {
        min-width: 656px;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        min-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}