@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__description/place__description.css);
@import url(./__ref/place__ref.css);
.place {
    display: grid;
    grid-auto-columns: auto;
    grid-template-areas: "title reference" "image texts";
    gap: 40px 48px;
}

@media screen and (max-width:1024px) {
    .place {
        gap: 32px 48px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        gap: 28px 48px;
    }
}

@media screen and (max-width: 755px) {
    .place {
        grid-template-areas: "title" "reference" "image" "texts";
        gap: 30px;
    }
}